*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerElements ul a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: 0.3s;
}
 
.headerElements ul a:hover{
    color: #b4b4b4;
}

.headerElements ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 80px 20px 80px;
    list-style-type: none;
}

.headerElements{
    background-color: #070E3C;
    display: flex;
    justify-content: space-between;
}

.logoImg{
    width: 500px;
    height: 100px;
    background-image: url(../imagens/LogisTech.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logoImg:hover{
    cursor:pointer;
}

.container-solucao {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.texto-solucao h1{
    font-size: 5ch;
    font-weight: 2000;
}

.texto-solucao p{
    color: rgb(73, 73, 73);
}
.background{
    height: 89.6vh;
    background-size: cover;
    background-image: url(../imagens/image.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_cadastro{
    height: 60%;
    background-color: #D9D9D9;
    width: 50%;
    border-radius: 2vw;
}
.form_cadastro h1{
    margin: 5vh;
    font-size: 3vw;
    text-align: center;
}
.div_inputs{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5vw;
}
.colunas_cadastro {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom: 4vh;
}
.inputs {
    background-color: transparent;
    border-style: solid;
    width: 16vw;
    border-width: 0vh 0 0.2vh 0;
    margin-bottom: 3vh;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border-bottom-width: 0.2vh;
    outline: 0;
} 
.labels {
    position: absolute;
    transition: .5s;
}
.label_1 {
    top:42vh;
}
.label_2 {
    top: 51vh;
}
.label_3 {
    top: 60vh;
}
input:focus + .label_1, 
input:valid + .label_1{
    top:40vh;
}
input:focus + .label_2,
input:valid + .label_2{
    top:49vh;
}
input:focus + .label_3,
input:valid + .label_3{
    top:58vh;
}
.area_botao {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-bottom: 1vw;
}
.botao_cadastro {
    background-color: #070E3C;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 2vh 2vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}