*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerElements ul a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: 0.3s;
}

.headerElements ul a:hover{
    color: #b4b4b4;
}

.headerElements ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2vh 5vw 2vh 5vw;
    list-style-type: none;
}

.headerElements{
    background-color: #070E3C;
    display: flex;
    justify-content: space-between;
}

.logoImg{
    width: 50vw;
    height: 10vh;
    background-image: url(../Front-end/img/LogisTech.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logoImg:hover{
    cursor:pointer;
}
.background{
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-image: url(../imagens/image.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_cadastro{
    height: 60vh;
    background-color: #D9D9D9;
    width: 50vw;
    border-radius: 2vw;
}
.form_cadastro h1{
    margin: 5vh;
    font-size: 3vw;
    text-align: center;
}
.div_inputs{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5vw;
}
.colunas_cadastro {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.inputs {
    background-color: transparent;
    border-style: solid;
    width: 16vw;
    border-width: 0vh 0 0.2vh 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border-bottom-width: 0.2vh;
    outline: 0;
} 
.area_botao {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}
.botao_cadastro {
    background-color: #070E3C;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 2vh 2vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}