* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
}

body {
    overflow-x: hidden;
}

.container-dash {
    display: flex;
    height: 100vh;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    background-color: #1e2868;
    color: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
    height: 100vh;
}

.barra-lateral a{
    text-decoration: none;
    color: #fff;
}

.barra-lateral span:hover{
    color: #b4b4b4;
}

.option i:hover {
    color: #b4b4b4;
}

.barra-lateral h4 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.option{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option:last-child {
    justify-self: end;
}

.option:hover {
    cursor: pointer;
}

.perfil-foto {
    border-radius:100%;
    width: 100px;
    align-items: center;
}

.barra-lateral span {
    display: block;
    margin: 15px 0;
    padding: 1px;
    text-align: left; 
    font-weight: 1000;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-right: 10%;
    height: inherit;
}

.dashboard .blocos {
    display: flex;
    height: 45%;
    padding: 2rem 3rem 0 3rem;
    gap: 1rem;
    margin-bottom: 1%;
}

.dashboard .bloco1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20px;
}

.grafico-porcentagem {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grafico-porcentagem button{
    align-self: center;
    width: 50%;
    height: 2rem;
    background-color: #1E2868;
    color: white;
    font-size: 1rem;
    border: none;
}

.grafico-porcentagem button:hover {
    cursor: pointer;
}

.porcentagem:first-child {
    font-weight: bold;
}

.porcentagem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.porcentagem-numero {
    color: #0F6C00;
    font-size: 3.5rem;
    font-weight: bold;
}

.dashboard .bloco2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bloco2 .status-esteiras {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
}

.dashboard .bloco3 {
    width: 100%;
    padding-top: 0px;
    height: fit-content;
    padding: 0 3rem 0 3rem;
}

.grafico-barras{
    height: 100%;
    width: 100%;
}

.bloco3 .grafico-linha {
    height: 350px;
    width: 85vw;
}

.bloco .grafico-linha #grafico-tempo-real{
    width: inherit;
    border: 1px solid black;
}



.produtos-registrados {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}


.filtros-dash {
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.filtros-dash button{
    border: none;
    background-color: #0B144A;
    color: white;
    width: 130px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 200px;
}
.filtros-dash button:hover{
    background-color: #2f3c85;
}

.filtros-dash select, 
.filtros-dash input {
    padding: 5px;
    background-color: #d2d2d2;
    font-size: 14px;
}

footer {
    background-color: #070E3C;
    color: white;
    text-align: center;
    padding: 40px;
    width: 100%;
    font-size: 2ch;
}
